*.md
.git
.gitignore
dist/
images/
scripts/
node_modules
packages/**/*.md
packages/**/*.gz
packages/**/*.tar
packages/**/*.sql
packages/**/.vscode/
packages/**/.eslintrc
packages/**/.eslintrc.js
packages/**/.eslintignore
packages/**/.dockerignore